.betting-match-list-item {
  &__home-flag,
  &__away-flag {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #b8c3c9;
    align-self: center;
    justify-self: center;
  }

  &__home-flag span,
  &__away-flag span {
    display: block;
    width: 195px;
    height: 100%;
    margin-left: -80px;
  }

  &__home-flag img,
  &__away-flag img {
    height: 100%;
    display: inline-block;
  }

  &__home-flag {
    grid-area: home-flag;
  }

  &__away-flag {
    grid-area: away-flag;
  }

  &__bet-panel {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    row-gap: 5px;
    grid-template-areas:
      "title title"
      "home-flag away-flag"
      "bet bet"
      "point point";
  }

  &__bet-title {
    grid-area: title;
    justify-self: center;
    font-size: 1.5rem;
  }

  &__bet-score {
    grid-area: bet;
    justify-self: center;
    font-size: 1.7rem;
  }

  &__bet-point {
    grid-area: point;
    text-align: center;
    font-size: 1.3rem;
  }
}
