<div class="betting-match-list-item-row">
  <div class="betting-match-list__match" (click)="toggleExpand()">
    <div class="betting-match-list-item__details">{{details}}</div>
    <div class="betting-match-list-item__home-flag">
      <span>
        <img [src]="match.homeTeam.image" alt="">
      </span>
    </div>
    <div class="betting-match-list-item__home-name">{{match.homeTeam.teamName}}</div>
    <div class="betting-match-list-item__away-flag">
      <span>
        <img [src]="match.awayTeam.image" alt="">
      </span>
    </div>
    <div class="betting-match-list-item__away-name">{{match.awayTeam.teamName}}</div>
    <div class="betting-match-list-item__score-time" *ngIf="match.finalScore">
      {{match.finalScore.homeScore}} - {{match.finalScore.awayScore}}
    </div>
    <div class="betting-match-list-item__score-time" *ngIf="!match.finalScore">
      {{match.startTime | date:'HH:mm'}}
    </div>
  </div>
  <div *ngIf="isExpanded" class="betting-match-list-item__expandable">
    <div class="betting-match-list-item__spinner" *ngIf="isInitiating">
      <span class="spinner-border" role="status" aria-hidden="true"></span>
    </div>
    <div class="betting-match-list-item__extra-time-help" *ngIf="match.hasExtraTime && !isInitiating">Hosszabbítás esetén a 120 perc eredménye számít</div>
    <app-betting-match-bet-panel *ngIf="!ownBet && !isInitiating && !hasBettingExpired" [match]="match"
      (betSent)="betSent($event)">
    </app-betting-match-bet-panel>
    <app-betting-match-own-bet *ngIf="!isInitiating && (ownBet || hasBettingExpired)" [match]="match" [bet]="ownBet">
    </app-betting-match-own-bet>
    <app-betting-match-bet-list *ngIf="!isInitiating" [bets]="bets">
    </app-betting-match-bet-list>
  </div>
  <div class="betting-match-list-item__indicator" (click)="toggleExpand()">
    <fa-icon *ngIf="isExpanded" [icon]="['fas', 'caret-up']"></fa-icon>
    <fa-icon *ngIf="!isExpanded" [icon]="['fas', 'caret-down']"></fa-icon>
  </div>
</div>
