<div class="login-panel">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">
        Email cím
      </label>
      <input placeholder="Email cím" type="email" formControlName="email" id="email" class="form-control"
        autocomplete="off" [ngClass]="{'is-invalid' : form.controls.email.touched && form.controls.email.invalid}">
      <ng-container *ngIf="form.controls.email.touched">
        <span class="invalid-feedback" *ngIf="form.controls.email.errors?.required">Email megadása kötelező</span>
        <span class="invalid-feedback" *ngIf="form.controls.email.errors?.email">Helytelen formátum</span>
      </ng-container>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary" *ngIf="!isInProgress">Küldés</button>
    <button class="btn btn-primary" type="button" disabled *ngIf="isInProgress">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Küldés...
    </button>
  </form>
  <button class="btn btn-link login-panel__registration" [routerLink]="['/login']">Bejelentkezés</button>
  <button class="btn btn-link login-panel__registration" [routerLink]="['/registration']">Regisztráció</button>
</div>
